<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link href="static\css\file.css" rel="stylesheet">
</head>
<body>
    <div class="formdiv">
    
    <form method='POST' action="{{ url_for('loggedin') }}" >
        
        <div class="imgcontainer">
          
          <img src="static\img\img1.png" class="avatar">
        </div>
      
        <div class="container">
            
          <label for="uname"><b>Username</b></label><br>
          <input type="text" placeholder="Enter Username" name="uname" required><br>
      
          <label for="psw"><b>Password</b></label><br>
          <input type="password" placeholder="Enter Password" name="psw" required><br>
      
          <button type="submit">Login</button><br>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label><br>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button><br>
          <span class="psw">Forgot <a href="#">password?</a></span><br>
          <span class="psw1">New Here? <a href="{{ url_for('signup') }}">SignUp</a></span>
        </div>
    
      </form>
    </div>
    
</body>
</html>
